@mixin transition {
    transition: $transition all ease-in-out ;
}
@mixin scale {
    @include transition();
    cursor: pointer;
     &:hover{        
        transform: scale(130%);
    }
}
@mixin hover {
    cursor: pointer;
    @include transition();
    // width: 2rem;
    // height: 2rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &:hover{
        background-color: $hover;
        // border-radius: 100%;
        
        transform: scale(130%);
    }
}
// FLEX
@mixin flexrow {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
}
// BOX
@mixin box1 {
    border-radius: 2rem;
    top: 2.4rem;
    position: absolute;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: $backgroundlight;
    overflow: hidden;
}

@mixin drounded {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}