// COLORS
// STANDARD
$c1:#fff;
$c2:rgb(145, 145, 255);
// LIGHT MODE
// BACKGROUND COLOR
$bg:#fff;
$text:rgb(28, 28, 28);

$dark:rgb(143, 143, 143);
$lit:rgb(237, 237, 237);
// HOVER COLOR
$hov : rgba(128, 128, 128, 0.076);
// SHADPW
// DARK MODE
$dbg:rgb(17, 18, 20);
$dbgl:rgb(37, 39, 44);