@font-face {
  font-family: title;
  src: url("/assets/font/RifficFree-Bold.ttf");
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  z-index: 50;
}
header .navbar {
  width: 72%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
header .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .navbar .logo svg {
  fill: rgb(62, 104, 254);
}
header .navbar ul {
  color: rgb(62, 104, 254);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .navbar ul .language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  gap: 4;
  justify-content: end;
  align-items: end;
  position: relative;
}
header .navbar ul .language i {
  transition: 200ms all ease-in-out;
  cursor: pointer;
  font-size: 1.5rem;
}
header .navbar ul .language i:hover {
  transform: scale(130%);
}
header .navbar ul .language .pop-up {
  border-radius: 2rem;
  top: 2.4rem;
  position: absolute;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
  overflow: hidden;
  display: none;
  -webkit-animation: popup 200ms linear forwards;
          animation: popup 200ms linear forwards;
  color: rgb(160, 160, 160);
}
header .navbar ul .language .pop-up li {
  text-align: center;
  padding: 0.75rem 3rem;
  font-size: 1rem;
}
header .navbar ul .language .pop-up li:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.076);
}
header .navbar ul li i {
  font-size: 1.5rem;
  transition: 200ms all ease-in-out;
  cursor: pointer;
}
header .navbar ul li i:hover {
  transform: scale(130%);
}
header .navbar ul li .light {
  display: flex;
}
header .navbar ul li .dark {
  display: none;
}

.dark header .navbar .logo svg {
  fill: #fff;
}
.dark header .navbar ul {
  color: #fff;
  background: transparent;
}
.dark header .navbar ul .language .pop-up {
  background-color: rgb(37, 39, 44);
  color: #fff;
}
.dark header .navbar ul .dark {
  display: flex;
}
.dark header .navbar ul .light {
  display: none;
}

main {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 6rem;
  background: linear-gradient(#a5e1fb, rgb(252, 252, 252));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  justify-content: start;
  height: 400px;
  gap: 0.3rem;
  padding-bottom: 9rem;
  position: relative;
}
main .image {
  position: absolute;
  width: 22rem;
  bottom: -24px;
}
main .image .dark {
  display: none;
  opacity: 0;
}
main .image .light {
  display: block;
  opacity: 1;
}
main h1 {
  font-family: title;
  color: #fff;
  font-size: 3rem;
  width: 70%;
  text-align: center;
}
main p {
  width: 80%;
  font-size: large;
  text-align: center;
  color: rgb(62, 104, 254);
  transition: 200ms all ease-in-out;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}
ul a {
  text-decoration: none;
  color: rgb(62, 104, 254);
  z-index: 20;
}
ul a i {
  transition: 200ms all ease-in-out;
  cursor: pointer;
}
ul a i:hover {
  transform: scale(130%);
}

.dark main {
  background: #111214;
}
.dark main .image svg {
  background: transparent;
  color: transparent;
}
.dark main .image .light {
  display: none;
  opacity: 0;
}
.dark main .image .dark {
  display: block;
  opacity: 1;
  -webkit-animation: horror 1s linear forwards;
          animation: horror 1s linear forwards;
  cursor: pointer;
}
.dark main h1 {
  color: #fff;
}
.dark p,
.dark i {
  position: relative;
  color: rgb(227, 227, 227);
  z-index: 20;
}

@media only screen and (min-width: 800px) {
  main .image {
    width: 27rem;
    bottom: -29px;
  }
  main p {
    width: 50%;
  }
}
@-webkit-keyframes horror {
  0%, 90% {
    opacity: 0.01;
    filter: grayscale(1);
  }
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}
@keyframes horror {
  0%, 90% {
    opacity: 0.01;
    filter: grayscale(1);
  }
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}
.section {
  padding: 4rem 4rem;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  gap: 3rem;
}
.section div h2 {
  font-weight: 800;
  font-size: 2rem;
  color: rgb(62, 104, 254);
  font-family: title;
}
.section div p {
  color: rgb(160, 160, 160);
  padding-top: 0.5rem;
  font-size: 18px;
}

.collection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.collection i {
  font-size: 3rem;
}
.collection img {
  width: 3rem;
}
.collection .disable {
  filter: blur(3px) grayscale(0.9);
}

.project img {
  width: 4rem;
}
.project .text {
  width: 10rem;
}

.contact-me {
  position: relative;
  padding: 4rem 4rem 32rem 4rem;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  gap: 3rem;
}
.contact-me .looking {
  display: flex;
  align-items: end;
  justify-content: center;
}
.contact-me .looking svg {
  position: absolute;
  bottom: 0;
}

.dark {
  background-color: rgb(17, 18, 20);
}
.dark .section div {
  color: rgb(143, 143, 143);
}
.dark .section div h2 {
  color: #fff;
}
.dark .project .application {
  background-color: rgba(128, 128, 128, 0.13);
}
.dark .project .card {
  background-color: rgb(37, 39, 44);
  border: none;
  position: relative;
}
.dark .project .card:hover {
  background-color: rgb(37, 39, 44);
}

@media only screen and (min-width: 900px) {
  .section {
    width: 47vw;
  }
}
footer {
  background: red;
}

.star {
  width: 3px;
  height: 3px;
  transform: rotate(45deg);
  background-color: rgb(255, 225, 190);
  -webkit-animation: star 2s linear infinite;
          animation: star 2s linear infinite;
}

@-webkit-keyframes star {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes star {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes popup {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes popback {
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popback {
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: 200ms all;
}
* body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
* body::-webkit-scrollbar {
  display: none;
}

hr {
  width: 60%;
  margin: auto;
  opacity: 0.2;
}/*# sourceMappingURL=style.css.map */