header {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    z-index: 50;


    .navbar {
        width: 72%;
        height: 100%;
        margin: auto;
        @include flexrow();
        justify-content: space-between;

        .logo {
            @include flexrow();

            svg {
                fill: $soft;
            }
        }

        ul {
            color: $soft;
            list-style: none;
            @include flexrow();

            .language {
                @include flexrow();
                flex-direction: column;
                gap: 4;
                justify-content: end;
                align-items: end;
                position: relative;

                i {
                    @include scale();
                    font-size: 1.5rem;
                }

                .pop-up {
                    @include box1();
                    display: none;
                    animation: popup 200ms linear forwards;
                    color: $textlight;

                    li {
                        text-align: center;
                        padding: 0.75rem 3rem;
                        font-size: 1rem;
                        &:hover {
                            cursor: pointer;
                            background-color: $hover;
                        }
                    }
                }
            }

            li {
                i {

                    // display: none;
                    font-size: 1.5rem;
                    @include scale();
                }

                .light {
                    display: flex;
                }
                .dark{
                    display: none;
                }
            }

        }

    }

}

.dark {
    header {
        .navbar {
            .logo {
                svg {
                    fill: $backgroundlight;
                }
            }

            ul {
                color: $backgroundlight;
                background: transparent;

                .language {
                    .pop-up {
                        background-color: $grey;

                        color: $backgroundlight;
                    }
                }

                 .dark {
                    display: flex;
                }
                .light{
                    display: none;
                }
            }

        }

    }
}