main {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    // overflow-x: hidden;
    padding-top: 6rem;
    background: linear-gradient($theme, $themedeep);
    // background: linear-gradient(rgb(255, 168, 92), #de754e);
    // background: linear-gradient(rgb(41, 13, 128),#4a0099);
    @include flexrow();
    flex-direction: column;
    justify-content: start;
    height: 400px;
    gap: 0.3rem;
    // padding-top: 10rem;
    padding-bottom: 9rem;
    position: relative;

    .image {
        position: absolute;
        // height: 845.832px;
        width: 22rem;
        bottom: -24px;
        // bottom: -45.832/2px;  
        // z-index: -1;

        .dark {
            display: none;
            opacity: 0;
        }

        .light {
            display: block;
            opacity: 1;
        }

    }

    h1 {
        font-family: title;
        color: $bg;
        font-size: 3rem;
        width: 70%;
        text-align: center;
    }

    p {
        // width: 35%;
        width: 80%;
        font-size: large;
        // font-weight: 700;
        text-align: center;
        color: $soft;
        @include transition();
    }

}

ul {
    @include flexrow();
    font-size: 1.5rem;

    a {
        text-decoration: none;
        color: $soft;
        z-index: 20;

        i {
            @include scale();
        }
    }
}

.dark {
    main {
        background: #111214;

        // background: linear-gradient(rgb(41, 13, 128),#4a0099);
        .image {
            svg {
                background: transparent;
                color: transparent;
            }

            .light {
                display: none;
                opacity: 0;
            }

            .dark {
                display: block;
                opacity: 1;
                animation: horror 1s linear forwards;
                cursor: pointer;

            }
        }

        h1 {
            color: $titledark;
            // text-shadow: $neongreen;
        }

    }
    p,
    i {
        position: relative;
        color: $textdark;
        z-index: 20;
    }
}

@media only screen and (min-width:800px) {
    main {

        .image {
            width: 27rem;
            bottom: -29px;
        }

        p {
            width: 50%;
        }
    }

}


@keyframes horror {

    0%,
    90% {
        opacity: 0.01;
        filter: grayscale(1);
    }

    100% {
        opacity: 1;
        filter: grayscale(0);
    }

}