.section {
    padding: 4rem 4rem;
    margin: auto;
    // background-color: red;
    text-align: center;
    @include flexrow();
    flex-direction: column;
    gap: 3rem;
    div {
        // color: $c2;
        h2 {
            font-weight: 800;
            font-size: 2rem;
            color: $soft;
            font-family: title;
        }
        p {
            color: $textlight;
            padding-top: 0.5rem;
            font-size: 18px;
            // font-weight: 700
            // width: 90vw;
        }
    }
}

.collection {
    @include flexrow();
    flex-wrap: wrap;

    i {
        font-size: 3rem;
    }

    img {
        width: 3rem;
    }

    .disable {
        filter: blur(3px)grayscale(0.9)
    }

}
.project{
    img{
        width: 4rem;
    }
    .text{
        width: 10rem;
    }
}
.contact-me{
    // @include flexrow();
    // flex-direction: column;
    position: relative;
    padding: 4rem 4rem 32rem 4rem;
    margin: auto;
    text-align: center;
    @include flexrow();
    flex-direction: column;
    gap: 3rem;
    .looking{
        display: flex;
        align-items: end;
        justify-content: center;
        svg{
            position: absolute;
            bottom: 0;
        }
    }
}


// DARK MODE
.dark {
    background-color: $dbg;

    .section {
        div {
            color: $dark;

            h2 {
                color: $bg
            }
        }
    }

    .project {


        .application {
            background-color: rgba(128, 128, 128, 0.13);



        }

        .card {
            background-color: $dbgl;
            border: none;
            position: relative;

            &:hover {
                background-color: $dbgl;
            }

        }


    }
}


// RESPONSIVE
@media only screen and (min-width:900px) {
    .section {

    width: 47vw;
    } 

}